.input-container {
    position: relative;
  }
  
  .input,.input:focus,
  .input:not(:placeholder-shown) {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #000 !important;
    transition: border-color 0.3s;
    border-color: #781a1a !important;
  }
  
  